
[Unit]
Description=Only serves the bootstrap.ign out of /home/core on port 9999
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
ExecStart=/bin/sh -c /home/core/bootstrap-serv.sh

[Install]
WantedBy=multi-user.target